In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('booking_train_set.csv')

In [4]:
df.drop(['index'],axis=1,inplace = True);

df.head()

In [5]:
df['Stop'] = df.groupby('utrip_id').cumcount()+1

In [6]:
df.head()

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,Stop
0,1006220,2016-04-09,2016-04-11,31114,desktop,384,Gondal,Gondal,1006220_1,1
1,1006220,2016-04-11,2016-04-12,39641,desktop,384,Gondal,Gondal,1006220_1,2
2,1006220,2016-04-12,2016-04-16,20232,desktop,384,Gondal,Glubbdubdrib,1006220_1,3
3,1006220,2016-04-16,2016-04-17,24144,desktop,384,Gondal,Gondal,1006220_1,4
4,1010293,2016-07-09,2016-07-10,5325,mobile,359,The Devilfire Empire,Cobra Island,1010293_1,1

In [10]:
type(df['city_id'][0])

numpy.int64

In [8]:
df['city_id'].value_counts()

47499    10065
23921     9424
36063     8659
17013     8045
29319     7325
         ...
34541        1
42729        1
50917        1
5375         1
2049         1
Name: city_id, Length: 38638, dtype: int64