In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('booking_train_set.csv')

In [3]:
df.drop(['index'],axis=1,inplace = True);

In [5]:
# Get Labels for Cities

df["city_id"] = df["city_id"].astype('category')
df["cityLabel"] = df["city_id"].cat.codes

In [100]:
# Convert to datetime

df['checkin'] = df['checkin'].apply(lambda x: pd.to_datetime(x))
df['checkout'] = df['checkout'].apply(lambda x: pd.to_datetime(x))

# Get Month
df['Month'] = df['checkin'].apply(lambda x: x.month)

In [268]:
df.head()

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,cityLabel,Month
0,1006220,2016-04-09,2016-04-11,31114,desktop,384,Gondal,Gondal,1006220_1,17798,4
1,1006220,2016-04-11,2016-04-12,39641,desktop,384,Gondal,Gondal,1006220_1,22669,4
2,1006220,2016-04-12,2016-04-16,20232,desktop,384,Gondal,Glubbdubdrib,1006220_1,11574,4
3,1006220,2016-04-16,2016-04-17,24144,desktop,384,Gondal,Gondal,1006220_1,13853,4
4,1010293,2016-07-09,2016-07-10,5325,mobile,359,The Devilfire Empire,Cobra Island,1010293_1,3064,7

In [376]:
df['cityLabel'].max()

38637

In [390]:
def prob_converter(lst):
    temp = []
    for i in range(len(lst)):
        temp.append((round(lst[i]/sum(lst),2)))
    return temp

In [391]:
device_class_arr = []
affiliate_id_arr = []
booker_country_arr = []
month_arr = []

for i in range(10):
        device_class_arr.append(prob_converter(df[df['cityLabel'] == i ]['device_class'].value_counts().reindex(df.device_class.unique(), fill_value=0.01).to_list()))
        affiliate_id_arr.append(prob_converter(df[df['cityLabel'] == i ]['affiliate_id'].value_counts().reindex(df.affiliate_id.unique(), fill_value=0.01).sort_index().to_list()))
        booker_country_arr.append(prob_converter(df[df['cityLabel'] == i ]['booker_country'].value_counts().reindex(df.booker_country.unique(), fill_value=0.01).to_list()))
        month_arr.append(prob_converter(df[df['cityLabel'] == i ]['Month'].value_counts().reindex(df.Month.unique(), fill_value=0.01).sort_index().to_list()))

In [392]:
dev_series = pd.Series(df['device_class'].unique())
aff_series = pd.Series(df['affiliate_id'].unique()).sort_values()
bkk_series = pd.Series(df['booker_country'].unique())

In [393]:
def det(inp, typ):
    if typ == 1:
        # Device Class
        return dev_series[dev_series == inp].index[0]
    elif typ == 2:
        # Affiliate Id
        return aff_series[aff_series == inp].index[0]
    elif typ == 3:
        # Booker country
        return bkk_series[bkk_series == inp].index[0]
    else:
        # Month
        return inp - 1

In [394]:
def predict(a,b,c,d):
    prob_list = []
    for i in range(10):
        prob_list.append(device_class_arr[i][det(a,1)]*affiliate_id_arr[i][det(b,2)]*booker_country_arr[i][det(c,3)]*month_arr[i][det(d,4)])
    
    return prob_list.index(max(prob_list))

In [395]:
# Run predicitions on training data
successful = 0
for i in range(10):
    prediction = predict(df.iloc[i]['device_class'],df.iloc[i]['affiliate_id'],df.iloc[i]['booker_country'],df.iloc[i]['Month'])
    if prediction == df.iloc[i]['cityLabel']:
        successful += 1

In [396]:
successful

0